@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/backgroundholder.png);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: cyan;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;

}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: cyan;
}

/* About */

#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.about-col-2 p{
    font-size: 20px;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 15px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    font-size: 15px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: cyan;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: cyan;
    font-size: 15px;
    font-weight: 600;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* Services */

#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 550;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background-color: cyan;
    transform: translateY(-10px);
}

/*Portfolio*/

#portfolio{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #00FFFF);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 16px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: cyan;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid cyan;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
    font-weight: 600;
}

.btn:hover{
    background: cyan;
}

/* Contact */

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: cyan;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s, color 0.5s;

}

.social-icons a:hover{
    color: cyan;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: cyan;
    font-weight: 600;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    font-size: 20px;
}

.copyright i{
    color: cyan;
}

/* CSS For Phones */

nav .fa-solid{
    display: none;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: cyan;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    width: 60px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

/*Skills Bar*/

#skill-bar {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-bottom: -80px;
    margin-top: 15px;
}

.container-skills {
    max-width: 1460px;
    width: 100%;
    background: #262626;
    margin: 0 15px;
    padding: 5px 20px;
    border-radius: 7px;
}

.container-skills .skill-box {
    width: 100%;
    margin: 25px 0;
}

.skill-box .title {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.skill-box .skill-bar {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}

.skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 0; /* Start with 0 width */
    border-radius: 6px;
    background: #00FFFF;
    opacity: 0; /* Start hidden */
    transition: width 0.4s ease-in-out, opacity 0.4s ease-in-out; /* Smooth transition */
}

.skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #4070f4;
    z-index: 1;
}

.tooltip::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #4070f4;
    transform: translateX(-50%) rotate(45deg);
}

/*Type Writer Effect at the Header*/

.type {
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
}
.type span {
    color: #00FFFF;
    position: relative;
}
.type span::before {
    content: "";
    height: 30px;
    width: 2px;
    position: absolute;
    top: 50%;
    right: -8px;
    background: #00FFFF;
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}
.type span.stop-blinking::before {
    animation: none;
}
@keyframes blink {
    50% { opacity: 0 }
}

/* Importing Google fonts - Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

.card-slider {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.card-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  background-color: #080808;
}
.card-wrapper {
  max-width: 1100px;
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden;
}
.card-list .card-item {
  list-style: none;
}
.card-list .card-item .card-link {
  display: block;
  background: #262626;
  padding: 18px;
  user-select: none;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}
.card-list .card-item .card-link:active {
  cursor: grabbing;
}
.card-list .card-item .card-link:hover {
  border-color: #00FFFF;
}
.card-list .card-link .card-image {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
.card-list .card-link .badge {
  color: #5372F0;
  width: fit-content;
  padding: 8px 16px;
  font-size: 0.95rem;
  border-radius: 50px;
  font-weight: 500;
  background: #DDE4FF;
  margin: 16px 0 18px;
}
.card-list .card-link .badge-designer {
  color: #B22485;
  background: #F7DFF5;
}
.card-list .card-link .badge-marketer {
  color: #B25A2B;
  background: #FFE3D2;
}
.card-list .card-link .badge-gamer {
  color: #205C20;
  background: #D6F8D6;
}
.card-list .card-link .badge-editor {
  color: #856404;
  background: #fff3cd;
}
.card-list .card-link .card-title {
  color: white;
  font-size: 1.19rem;
  font-weight: 600;
}
.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  color: #00FFFF;
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #00FFFF;
  transform: rotate(-45deg);
  transition: 0.4s ease;
}
.card-list .card-link:hover .card-button {
  color: #fff;
  background: #00FFFF;
}
.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: #00FFFF;
}
.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}
.card-wrapper .swiper-slide-button {
  color: #00FFFF;
  margin-top: -35px;
}

.card-list .card-item .card-link {
  display: block;
  background: #262626;
  padding: 18px;
  user-select: none;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, border-color 0.2s ease; /* Add transition for transform */
}

.card-list .card-item .card-link:hover {
  border-color: #00FFFF;
  transform: scale(1.05); /* Scale up the card slightly on hover */
}

/* Responsive media query code for small screens */
@media (max-width: 768px) {
  .card-wrapper {
    margin: 0 10px 25px;
  }
  .card-wrapper .swiper-slide-button {
    display: none;
  }
}
  
@media only screen and (max-width: 768px){
    #header{
        background-image: url(Images/backgroundphone.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: cyan;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2 p{
        font-size: 14px;
    }
    .tab-titles{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 15px;
        border: none;
        outline: none;
        background-color: cyan;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
        width: 40px;
    }
} 
